body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
    background-color: #F5F2EB;
}

.game {
    /* z-index: 2; */
    position: absolute;
    align-items: center;
}

.animation {
    /* z-index: 1; */
    
    height: 100vh;
    width: 100vw;
    
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    
    filter: opacity(100%);
}

.hint {
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    
    z-index: 10;
    background-color: #555555e0;
    color: #fff;
    /* opacity: .5; */
    
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #00000050;
    font: normal normal normal 24px "Mulish";
    word-wrap: 500px;

    user-select: none;
}

/* hint: {
    fontFamily: mainFont,
    fontSize: FontSettings.standard.size,
    color: Color.hintFill,
    backgroundColor: Color.hintBackground,
    backgroundStrokeColor: "#0005",
    backgroundStrokeLineWidth: 2,
    backgroundCornerRadius: 5,
    wrap: {
        mode: 'word',
        width: Space.maxTextWidth
    }, */